<fieldset>
<legend>{{title}}</legend>
<!-- NAME -->
<div class="form-group">
    <label for="list-name">Name</label><br>
    <input id="list-name" type="text" name="name" value="{{ listing.name }}"/>
</div>
<!-- PRICE -->
<div class="form-group">
    <label for="list-price">Price</label><br>
    $<input id="list-price" type="text" name="price" value="{{ listing.price }}"/>
</div>
<!-- IMAGE -->
<div class="form-group">
    <label for="list-image">Image URL</label><br>
    <input id="list-image" type="text" name="image" value="{{ listing.image }}">
</div>
</fieldset>

<!-- BUTTON -->
<div class="form-group">
    <button type="submit" formaction="/" formmethod="GET">Cancel</button>
    <button type="submit">Save listing</button>
</div>