{% extends "base.html" %}

{% block title %}New Listing{% endblock %}

{% block body %}
<form method="POST" action="/new">
    <fieldset>
    <legend>New listing</legend>
    <!-- NAME -->
    <p>
        <label for="list-name">Name</label><br>
        <input id="list-name" type="text" name="name" />
    </p>
    <!-- PRICE -->
    <p>
        <label for="list-price">Price</label><br>
        $<input id="list-price" type="text" name="price" />
    </p>
    <!-- IMAGE -->
    <p>
        <label for="list-image">Image URL</label><br>
        <input id="list-image" type="text" name="image">
    </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type="submit">Save listing</button>
    </p>
</form>
{% endblock %}