{% extends 'base.html' %}

{% block title %}New Listing{% endblock %}

{% block body %}
<form method='POST' action='/new'>
    <fieldset>
    <legend>New listing</legend>
    <!-- TITLE -->
    <p>
        <label for='title'>Title</label><br>
        <input type='text' name='title' />
    </p>
    <p>
        <label for='price'>Price</label><br>
        <input type='text' name='price' />
    </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save listing</button>
    </p>
</form>
{% endblock %}